@import "tailwindcss";

@theme {
  --color-sidebar-border: var(--theme-sidebar-border);
  --color-sidebar-text: var(--theme-sidebar-text);
  --color-background: var(--theme-background);
  --color-text-primary: var(--theme-text-primary);
  --color-text-secondary: var(--theme-text-secondary);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;

  --theme-sidebar-border: #e1e5eb;
  --theme-sidebar-text: #637380;
  --theme-background: #ffff;
  --theme-text-primary: #1a1a1a;
  --theme-text-secondary: #637380;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  color-scheme: dark;

  --theme-sidebar-bg: #1a1a1d;
  --theme-sidebar-border: #2d3139;
  --theme-sidebar-text: #9ca3af;
  --theme-page-bg: #111113;
  --theme-text-primary: #f3f4f6;
  --theme-text-secondary: #9ca3af;
}
